﻿@model MVC_Autenticacion.ViewModels.UserViewModel

@{
    ViewBag.Title = "Agregar rol";
}

<h2>Agregar rol a @Model.Nombre</h2>

@using (Html.BeginForm("AgregarRol", "Usuarios", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, "Rol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RolId", null, "-- Seleccione un rol --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Rol.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar rol" class="btn btn-primary" />
                @Html.ActionLink("Retornar al usuario", "Roles", new { id = Model.Id}, new { @class = "btn btn-info"})
            </div>
        </div>
    </div>
}
