﻿@model IEnumerable<MVC_Autenticacion.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Roles", "Roles", new { id = item.Id })
            </td>
        </tr>
    }

</table>
