﻿@model MVC_Autenticacion.ViewModels.UserViewModel

@{
    ViewBag.Title = "Roles";
}

<h2>Roles de usuario</h2>

<p>
    @Html.ActionLink("Agregar rol", "AgregarRol", new { UserId = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Retornar", "Index", "Usuarios", null, new { @class = "btn btn-info" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rol.Nombre)
        </th>
    </tr>

    @foreach (var item in Model.Roles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
        </tr>
    }
</table>

