﻿@model AplicacionMVC.ViewModels.FacturaViewModel

@{
    ViewBag.Title = "NuevaFactura";
}

<h2>NuevaFactura</h2>

@using (Html.BeginForm("NuevaFactura", "Facturas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ClienteId, "ClienteId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteId", null, "-- Seleccione un cliente --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-primary" onclick="AgregarProducto();">Agregar Producto</button>
                <input type="submit" value="Guardar Factura" class="btn btn-success" />
                @*@Html.ActionLink("Agregar producto", "AgregarProducto", "Facturas", null, htmlAttributes: new { @class = "btn btn-primary" })*@
            </div>
        </div>
    </div>
}

@Html.Partial("_DetalleFactura")

<h3>@ViewBag.Error</h3>
<h3>@ViewBag.Mensaje</h3>

<script>
    function AgregarProducto() {
        if ($('#ClienteId').val()) {
            location.href = "/Facturas/AgregarProducto?ClienteId=" + $('#ClienteId').val();
        } else {
            location.href = "/Facturas/AgregarProducto";
        }
    }
</script>