﻿@model AplicacionMVC.ViewModels.CorreoViewModel

@{
    ViewBag.Title = "EnviarCorreo";
}

@using (Html.BeginForm())
{
    <div class="form">
        <h4>Correo</h4>
        <hr />

        <div class="form-group row">
            @Html.LabelFor(model => model.Destinatario, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Destinatario, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Asunto, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Asunto, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Cuerpo, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Cuerpo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <input type="submit" value="Enviar Correo" class="btn btn-dark" />
            </div>
        </div>
    </div>
}
