﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
    @{ var variable = 7; }
    @{ var nombre = "Jairo Yate"; }

    <p>El valor de la variable es @variable</p>
    <p>Hola @nombre</p>

    @{ 
        var saludo = "Bienvenido al sitio";
        var diaDeLaSemana = DateTime.Now.DayOfWeek;
        var concatenado = saludo + ", hoy es " + diaDeLaSemana;
    }

    <p>Mensaje final: @concatenado</p>

</body>
</html>
