﻿@{
    var resultado = "";

    if (IsPost)
    {
        resultado = "Página despues de hacer la petición desde el submit";
    }
    else
    {
        resultado = "Esta es la primer petición de la página";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post" action="">
        <input type="submit" value="Hacer petición" />
        <p>Resultado: @resultado - @Request.RequestType</p>
    </form>
</body>
</html>
