﻿@{
    var total = 0;
    var totalStr = "";

    if (IsPost)
    {
        var num1 = Request["txtNum1"];
        var num2 = Request["txtNum2"];

        total = num1.AsInt() + num2.AsInt();
        totalStr = "Total = " + total;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
    <form method="post" action="">
        <p>
            <label for="txtNum1">Número 1:</label>
            <input type="number" name="txtNum1" />
        </p>
        <p>
            <label for="txtNum2">Número 2:</label>
            <input type="number" name="txtNum2" />
        </p>
        <p>
            <input type="submit" value="Sumar" />
        </p>
    </form>

    <p>@totalStr</p>

</body>
</html>
