﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @for (int i = 0; i < 7; i++)
    {
        <p>Línea #: @i</p>
    }

    <ul>
        @foreach (var item in Request.ServerVariables)
        {
            <li>@item</li>
        }
    </ul>
</body>
</html>
