﻿@{
    var mensajeError = "";

    if (IsPost)
    {
        try
        {
            int i = 0;
            int j = 10 / i;
        }
        catch (Exception ex)
        {
            mensajeError = ex.Message;
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post" action="">
        <input type="submit" value="Generar excepción" />
    </form>

    <p>@mensajeError</p>
</body>
</html>
