﻿@model IEnumerable<Modelos.Producto>

@{
    ViewBag.Title = "Producto";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Producto", "Crear")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { idProducto = item.Id })
            </td>
        </tr>
    }
</table>
