﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Proyecto MVC", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @*@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })*@
                    @*@Html.ActionLink("Inicio", "Index", "Inventarios", new { area = "ModuloInventarios" }, new { @class = "nav-link" })*@
                    @Html.ActionLink(AplicacionMVC.Recursos.idioma.Inicio, "Index", "Inventarios", new { area = "ModuloInventarios" }, new { @class = "nav-link" })
                </li>
                @*<li class="nav-item">
                        @Html.ActionLink("Acerca de", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Prueba", "Prueba", "Home", null, new { @class = "nav-link" })
                    </li>*@
                <li class="nav-item">
                    @Html.ActionLink("Tipos de documento", "Index", "TipoDocumentos", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @*@Html.ActionLink("Personas", "Index", "Personas", null, new { @class = "nav-link" })*@
                    @Html.ActionLink(AplicacionMVC.Recursos.idioma.Personas, "Index", "Personas", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Productos", "Index", "Productos", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Nueva factura", "NuevaFactura", "Facturas", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
